<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Icono-->
    <link rel="icon" type="image/icon" sizes="16x16" href="images/icon.png">
    <!--Estilos propios-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="buscar productos, marcas...">
                        <button><i class="fas fa-search"></i> </button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class="fas fa-hand-holding-usd"> Compra en cuotas y sin tarjeta de credito</i>
                </h2>
            </div>
        </div>
        <div class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a> </i></li>
                <li><a href="/loguin">Ingresa <i class="fas fa-sign-in-alt"></i></a> </i></li>
                <li> Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="banner">
        <img src="images/img-home-banner.jpg">
    </div>
    <main>
        <section class="last-visit">
            <h3 class="title">Basado en tu ultima visita</h3><br>
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$6.770</p></div>
                        <div class="discount"><p>40% off</p></div>
                        <div class="description"><p class="descripcion">Cafetera Moulinex</p></div>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$230.000</p></div>
                        <div class="discount"><p class="descuento">20% off</p></div>
                        <div class="description"><p class="descripcion">MacBook Pro 2019</p></div>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                        class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$70.500</p></div>
                        <div class="discount"><p class="descuento">10% off</p></div>
                        <div class="description"><p class="descripcion">Samsung Galaxy S10</p></div>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$23.200</p></div>
                        <div class="discount"><p class="descuento">5% off</p></div>
                        <div class="description"><p class="descripcion">SmartTv Samsung 43"</p></div>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3 class="title">Sección de Ofertas</h3><br>
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$6.770</p></div>
                        <div class="discount"><p>40% off</p></div>
                        <div class="description"><p class="descripcion">Cafetera Moulinex</p></div>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$230.000</p></div>
                        <div class="discount"><p class="descuento">20% off</p></div>
                        <div class="description"><p class="descripcion">MacBook Pro 2019</p></div>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                        class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$70.500</p></div>
                        <div class="discount"><p class="descuento">10% off</p></div>
                        <div class="description"><p class="descripcion">Samsung Galaxy S10</p></div>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="price"><p>$23.200</p></div>
                        <div class="discount"><p class="descuento">5% off</p></div>
                        <div class="description"><p class="descripcion">SmartTv Samsung 43"</p></div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="element">
            <div class="container1">
                <div class="icon"><i class="fa-solid fa-credit-card"></i></div>
                <div class="text1"><h3>Pagá con tarjeta o en efectivo</h3></div>
                <div class="text2"><p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p></div> 
            </div>
            <div class="container1">
                <div class="icon"><i class="fa-solid fa-gift"></i></div>
                <div class="text1"><h3>Envío gratis desde $ 2.500</h3></div>
                <div class="text2"><p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p></div>
            </div>
            <div class="container1">
                <div class="icon"><i class="fa-solid fa-user-shield fa-fw"></i></div>
               <div class="text1"><h3>Seguridad, de principio a fin</h3></div>
               <div class="text2"><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p></div>
            </div>
            <div class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>

</html>