<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono-->
    <link rel="icon" type="image/icon" sizes="16x16" href="images/icon.png">
    <!--Estilos propios-->
    <link rel="stylesheet" type="text/css" href="css/stylesRegister.css">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyleRegister.css" rel="stylesheet">
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <div class="search"> <input type="text" placeholder="buscar productos, marcas..."></div>
                        <button><i class="fas fa-search"></i> </button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class="fas fa-hand-holding-usd"> Compra en cuotas y sin tarjeta de credito</i>
                </h2>
            </div>
        </div>
        <div class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a> </i></li>
                <li><a href="/loguin">Ingresa <i class="fas fa-sign-in-alt"></i></a> </i></li>
                <li> Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="banner">
        <img src="images/img-home-banner.jpg">
    </div>
    <main>
        <form class="register" action="/register" method="POST">
            <div class="name"> <label for="nombre"></label>
                <input type="text" name="usuario" placeholder="Nombre y Apellido">
            </div>
            <div class="email"> <label for="email"></label>
                <input type="email" name="email" placeholder="Email">
            </div>

            <div class="title">
                <p>Fecha de nacimiento</p>
            </div>
            <div class="date"><input type="date" name="fecha"></div>


            <div class="domicilio"> <label for="domicilio"></label>
                <input type="text" name="domicilio" placeholder="Domicilio">
            </div>

            <div class="title">
                <p>Perfil de usuario</p>
            </div>
            <div class="perfil">
                <div class="comprador">Comprador <label for="date"><input type="radio" name="perfil-usuario"
                            value="Comprador"></label></div>
                <div class="vendedor">Vendedor<label for="date"><input type="radio" name="perfil-usuario"
                            value="Vendedor"></label>
                </div>
            </div>

            <div class="title">
                <p>Intereses</p>
            </div>
            <div class="intereses">
                <label class="container">
                    <input type="checkbox" name="intereses" value="Electro">
                    <h3 class="int">Electro</h3>
                </label >
                <label class="container">
                    <input type="checkbox" name="intereses" value="Moda">
                    <h3 class="int">Moda</h3>
                </label>
                <label class="container">
                    <input type="checkbox" name="intereses" value="Hogar">
                    <h3 class="int">Hogar</h3>
                </label>
                <label class="container">
                    <input type="checkbox" name="intereses" value="Jugueteria">
                    <h3 class="int">Jugueteria</h3>
                </label>
                <label class="container">
                    <input type="checkbox" name="intereses" value="VS">
                    <h3 class="int">Vida sana</h3>
                </label>
            </div>
            <p class="title">Seleccionar una imagen para el perfil</p>
            <div class="profile"><input type="file" name="avatar" accept=".jpg .png" multiple></div>

            <div class="password"> <label for="password"></label>
            <input type="password" name="clave" placeholder="Contraseña"></div>
            <div class="password"> <label for="password"></label>
            <input type="password" name="clave" placeholder="Confirmar Contraseña"></div>
<div class="button-container">
            <div class="button-one"><button class="one" type="submit">Enviar</button></div>
            <div class="button-one"><button class="one" type="reset">Borrar</button></div>
        </div>
        </form>
    </main>
    <footer>
        <div class="element">
            <div class="container1">
                <div class="icon"><i class="fa-solid fa-credit-card"></i></div>
                <div class="text1">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                </div>
                <div class="text2">
                    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </div>
            <div class="container1">
                <div class="icon"><i class="fa-solid fa-gift"></i></div>
                <div class="text1">
                    <h3>Envío gratis desde $ 2.500</h3>
                </div>
                <div class="text2">
                    <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="container1">
                <div class="icon"><i class="fa-solid fa-user-shield fa-fw"></i></div>
                <div class="text1">
                    <h3>Seguridad, de principio a fin</h3>
                </div>
                <div class="text2">
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>

</html>