* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gris-Claro);
}

a {
    text-decoration: none;
    color: var(--negro);
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
}
html {
    font-family: 'Roboto', sans-serif;
}

/*    ****Header****/
header {
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    flex-direction: column;
}

.menu-container {
    display: none;
}

.burger-container {
    display: flex;
    justify-content: center;
}
div.logo-bar-container{
    display: flex;
}

.card-container{
    padding: 15px;
}
.search-button-container{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 50%;
    padding: 10px;
}
.search-container{
    display: flex;
    height: 25px;
    width: 90%;   
}
.search-container{
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto';
}
.card-title  {
    margin-right: 10px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
}
.card-title i{
    margin-right: 10px;    
}

.search{
    width: 95%;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
}
input{
    width: 95%;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
    margin-left: 3px;
    margin-top: 3px;
}
button{
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
}

.burger-menu{
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
margin: 5px;
border-radius: 5px;
color: var(--blanco);
background-color: var(--azul);
}

/*Fin de header*/

/* ****Inicio de main**** */
main{
    background-color: var(--grisClaro);
    height: 90%;
    padding: 10px;
}
form.register {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    margin-left: 40px;
}
.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    padding-bottom: 5px;
    align-items: stretch;
    align-content: center;
    margin-left: 10%;
}
.email {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    padding-bottom: 5px;
    align-items: stretch;
    align-content: center;
    margin-left: 10%;
}
.date {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    padding-bottom: 5px;
    align-items: stretch;
    align-content: center;
    margin-left: 10%;
}
.domicilio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    padding-bottom: 5px;
    align-items: stretch;
    align-content: center;
    margin-left: 10%;
}
.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    padding-bottom: 5px;
    align-items: stretch;
    align-content: center;
    margin-left: 10%;
}
.password {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    padding-bottom: 5px;
    align-items: stretch;
    align-content: center;
    margin-left: 10%;
}
.perfil {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 10px;
}
.comprador {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.vendedor {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.title{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.title p{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    font-size: 18px;
}
label.container h3 {
    font-size: 14px;
    display: flex;
    width: 65%;
}
input[type="checkbox"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
label.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.intereses {
    width: 50%;
}
p.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}
.button-one {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}
button.one {
    width: 50px;
    height: 30px;
}

/* ***Fin de main***  */

/* ****Inicio de Footer**** */

.fa-user-shield:before,
.fa-credit-card:before,
.fa-gift:before {
    color: var(--celeste);
    font-size: 30px;
}

footer {
    background-color: var(--blanco);

    height: 90%;
}
div.icon {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.element {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
p {
    text-align: center;
}

.text1{text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 16px;
}
.text2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.copyright {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}